################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/doc
Debug/
Release/
x64/
x86/
ARM/
ARM64/
ARM64EC/